* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#root {
    height: 100%;
    width: 100%;
}