* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body, #root {
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}